<a href="https://colab.research.google.com/github/hollowmatt/PyColab/blob/main/QPB4E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About this Colab
This is from the Quick Python Book from Manning Press [QPB4E](https://livebook.manning.com/book/the-quick-python-book-fourth-edition).

The GitHub repository for the book is at [GitHub/qpb4e](https://github.com/nceder/qpb4e)

# Chapter 2

In [ ]:
print("hello world!")

hello world!

In [ ]:
# Setup files needed
!wget https://raw.githubusercontent.com/nceder/qpb4e/main/code/Chapter%2003/shape.py  &> null  && echo Downloaded
!wget https://raw.githubusercontent.com/nceder/qpb4e/main/code/Chapter%2003/wo.py &> null  && echo Downloaded

!touch empty_file
! echo "This is myfile1.txt" > myfile1.txt
! echo "This is myfile2.txt" > myfile2.txt

Downloaded
Downloaded

# Chapter 3
Quick Python overview

## 3.2.7 File objects

In [ ]:
#Open a file for writing
f = open("myfile1.txt", "w")
f.write("First line in the new file\n")
f.write("Now add a second line\n")
f.close()

#Now open file and read it
f = open("myfile", "r")
for i in f.readlines():
  print(i)
f.close()

#Directory and stuff
import os
dir = os.getcwd()
print(dir)

file = os.path.join(dir, "myfile")
print(file)

f = open(file, "r")
print(f.readline())
f.close()

First line in the new file

Now add a second line

/content
/content/myfile
First line in the new file

## 3.4 Control Structures

In [ ]:
# if-elif-else
x = 5
if x < 5:
  y = -1
  z = 5
elif x > 5:
  y = 1
  z = 11
else:
  y = 0
  z = 10
print(x, y, z)

5 0 10

The 'match' statement in Python is similar to the switch statement in Java

In [ ]:
#Match statement
point = (5, 7)

match point:
  case(0,0):
    print('origin')
  case(0,y):
    print(f"Y={y}")
  case(x,0):
    print(f"X={x}")
  case(x,y):
    print(f"X={x}, Y={y}")
  case _:
    raise ValueError("Not a point")

X=5, Y=7

In [ ]:
#while loop
u, v, x, y = 0, 0, 100, 30

while x > y:
  u = u + y
  x = x - y
  if x < y + 2:
    v = v + x
    x = 0
  else:
    v = v + y + 2
    x = x - y - 2
  print(f"{u=} {v=}")
print(u, v)

u=30 v=32
u=60 v=40
60 40

In [ ]:
#for loop
item_list = [3, "string", 23, 14.0, "string2", 49, 64, 70]
for x in item_list:
  if not isinstance(x, int):
    continue
  if not x % 7:
    print(f"found an integer divisible by seven: {x}")
    break

found an integer divisible by seven: 49

In [ ]:
#functions
def func(x, y, z):
  value = x +2*y + z**2
  if value > 0:
    return x + 2*y + z**2
  else:
    return 0

u, v = 3, 4
print(func(u, v, 2))

# **args gathers any spare arguments into a dictionary
def newfunc(x, y=1, z=1, **args):
  print (x, y, z, args)

newfunc(1, 2, m=5, n=9, z=3)

15
1 2 3 {'m': 5, 'n': 9}

In [ ]:
#Exceptions (try-except-else-finally)
class EmptyFileError(Exception):
  pass

file_names = ["myfile1.txt", "non_existant", "empty_file", "myfile2.txt"]
for file_name in file_names:
  try:
    file = open(file_name, 'r')
    line = file.readline()
    if line == "":
      file.close()
      raise EmptyFileError(f"{file_name}: is empty")
  except IOError as error:
    print(f"{file_name}: could not be opened: {error.strerror}")
  except EmptyFileError as error:
    print(error)
  else:
    print(f"{file_name}: {line}")
  finally:
    print("Done processing", file_name)

myfile1.txt: This is myfile1.txt

Done processing myfile1.txt
non_existant: could not be opened: No such file or directory
Done processing non_existant
empty_file: is empty
Done processing empty_file
myfile2.txt: This is myfile2.txt

Done processing myfile2.txt

In [ ]:
# With keyword
file = "myfile1.txt"
with open(file, 'r') as f:
  for line in f:
    print(line)

This is myfile1.txt

## 3.5 Modules

In [ ]:
#Module example
"""wo module. Contains function: words_occur()"""
def words_occur():
  """words_occur() - count occurances of words in a file."""
  #prompt for file
  file_name = input("Enter the name of a file to use")
  file = open(file_name, 'r')
  word_list = file.read().split()
  file.close()
  occurs_dict = {}
  for word in word_list:
    occurs_dict[word] = occurs_dict.get(word, 0) + 1
  print(f"File {file_name} has {len(word_list)} words ({len(occurs_dict)} are unique)")
  print(occurs_dict)
if __name__ == '__main__':
  words_occur()

Enter the name of a file to usemyfile1.txt
File myfile1.txt has 11 words (10 are unique)
{'First': 1, 'line': 2, 'in': 1, 'the': 1, 'new': 1, 'file': 1, 'Now': 1, 'add': 1, 'a': 1, 'second': 1}

# Chapter 4



*   Indenting & block structure
*   Differentiating comments
*   Assigning variables
*   Optional type hints
*   Evaluating expressions
*   Using common data types
*   Getting user input
*   Using correct Phythonic style

In [ ]:
n = 4
r = 1
while n > 0:
    r = r * n
    n = n - 1

print(f"{r}")

24

In [ ]:
x, y = 0x12E, 0b1111
z = (x + y)//2
a = (x+y)%2
print(abs(z), a)
print(divmod(x, y))
print(round(x/y))

158 1
(20, 2)
20

In [ ]:
from cmath import *
sqrt((1+2j) * (3+4j))
name = input("Name? ")
print(name)

Name? Catnip
Catnip

# Chapter 5
Lists, tuples, and sets.

A list in python is similar to an array in C or Java


```
x = [1, 2, 3]
```

## 5.1 - 5.6: Lists

In [ ]:
x = [0]
y = []
z = [[1, 3, [4, 5],6],7]
print(len(x), len(y), len(z))
print(len(z[0]))
print(len(z[0][2]))

1 0 2
4
2

positions are zero indexed, but you can also start at the 'end' of the list using -1.

You can also extract with slices

```
x[1:-1] #second until up to last element (not including last)
x[0:3] #first three elements -> goes upto but not including the second index
x[:3] #begining up to (but not including) fourth element
x[3:] #begining from fourth element to the end (includes last element)
```

In [ ]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(x[0]) #0
print(x[-1]) #9
print(x[1:-1])
print(x[1:4])
print(x[:3])
print(x[3:])

0
9
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3]
[0, 1, 2]
[3, 4, 5, 6, 7, 8, 9]

In [ ]:
#modifying
x = [0, 1, 2, 3]
x[2] = 'two'
print(x)

[0, 1, 'two', 3]

You can also modify lists using slices using similar : notation

In [ ]:
x = [0, 1, 2, 3]
x[len(x):] = [4, 5, 6]
print(x)
x[:0] = [-2, -1] #put at beginning
print(x)

[0, 1, 2, 3, 4, 5, 6]
[-2, -1, 0, 1, 2, 3, 4, 5, 6]

append and extend are two ways to add to lists

In [ ]:
x = [0, 1, 2]
y = [3, 4, 5]
x.append(y) #add entire list y as a single element to x
print(x)
x = [0, 1, 2]
y = [3, 4, 5]
x.extend(y) #extends x with the list from y
print(x)
x.insert(0, 'start') #insert an element prior to the given index
print(x)
del x[0] #remove element from given index
print(x)
x.remove(3) #remove first element that matches the literal input (3), not by index
print(x)
x.reverse() #reverse list in place
print(x)

[0, 1, 2, [3, 4, 5]]
[0, 1, 2, 3, 4, 5]
['start', 0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 4, 5]
[5, 4, 2, 1, 0]

In [ ]:
# move last 3 elements to front
x = [3, 4, 5, 0, 1, 2]
print(x)
x = x[3:] + x[:3]
print(x)

[3, 4, 5, 0, 1, 2]
[0, 1, 2, 3, 4, 5]

Sorting lists

In [ ]:
x = [0, 8, 2, 3, 6, 4, 7, 5, 1]
x.sort()
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Define a sorting method
def comp_num_chars(string1):
  return len(string1)
word_list = ["python", "is", "better", "than", "perl"]
word_list.sort()
print(word_list)
word_list = ["python", "is", "better", "than", "perl"]
#use sort method as the key to sort
word_list.sort(key=comp_num_chars)
print(word_list)

['better', 'is', 'perl', 'python', 'than']
['is', 'than', 'perl', 'python', 'better']

In [ ]:
# Use a lambda function instead
word_list = ["python", "is", "better", "than", "perl"]
word_list.sort(key=lambda x: len(x))
print(word_list)

['is', 'than', 'perl', 'python', 'better']

In [ ]:
x = [4, 2, 1, 3]
y = sorted(x)
z = sorted(x, reverse=True)
print(x, y, z)

[4, 2, 1, 3] [1, 2, 3, 4] [4, 3, 2, 1]

In [ ]:
# sort on second element
x = [[1, 2, 3], [2, 1, 3], [0, 3, 1],[3, 0, 2]]
x.sort(key=lambda x: x[1])
print(x)
y = sum(x[0])
print(y)

[[3, 0, 2], [2, 1, 3], [1, 2, 3], [0, 3, 1]]
5

Searching

In [ ]:
x = [1, 3, "five", 7, -2]
x.index("five")

2

Nested lists and deep/shallow copies

In [ ]:
nested = [[0, 1, 2], [10, 11, 12], [20, 21, 22]]
original = [nested, 1]
print(original)
nested[0] = 'zero'
print(original)
original[0][0] = [0, 2, 1]
print(original)

[[[0, 1, 2], [10, 11, 12], [20, 21, 22]], 1]
[['zero', [10, 11, 12], [20, 21, 22]], 1]
[[[0, 2, 1], [10, 11, 12], [20, 21, 22]], 1]

## 5.7 Tuples
Similar to lists, but immutable.  Can be used as keys for dictionaries

In [ ]:
from re import X
x = ('a', 'b', 'c')
print(x[2])
print(x[1:])
print(len(x))
print(min(x))
print(max(x))
print(5 in x)
y = x + x
print(y)
(one, two, three, four) = (1, 2, 3, 4)
print(one)
z = list(x)
z[2] = 'd'
print(z)

c
('b', 'c')
3
a
c
False
('a', 'b', 'c', 'a', 'b', 'c')
1
['a', 'b', 'd']

## 5.8 Sets
unordered collection of unique objects that must be immutable and hashable

ints, floats, strings, tuples can be members of a set, but lists, dictionaries, and sets themselves cannot

In [ ]:
x = set([1, 1, 2, 2, 3, 4, 5])
print(x)
x.add(6)
x.remove(5)
print(5 in x)
print(x)
y = set([1, 7, 8, 9, 2])
print(x | y)
print(x & y)
print(x ^ y)
z = frozenset(x)
y.add(z)
print(y)

{1, 2, 3, 4, 5}
False
{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6, 7, 8, 9}
{1, 2}
{3, 4, 6, 7, 8, 9}
{1, 2, 7, 8, 9, frozenset({1, 2, 3, 4, 6})}

## 5.9 Lab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

temps = []
with open('/content/drive/My Drive/Colab Notebooks/lab_05.txt') as infile:
  for row in infile:
    temps.append(float(row.strip()))
  print(temps)
drive.flush_and_unmount()
print(f"min={min(temps)}, max={max(temps)}, avg={sum(temps)//len(temps)}")
print(set(temps))

Mounted at /content/drive
[8.9, 7.9, 14.2, 15.4, 18.1, 19.1, 21.7, 20.8, 19.6, 14.9, 10.8, 8.8, 8.5, 10.4, 9.3, 16.2, 17.1, 22.0, 25.1, 23.9, 22.8, 17.0, 10.2, 9.2, 7.1, 9.9, 12.3, 12.9, 17.2, 23.6, 21.6, 21.9, 17.6, 14.0, 9.3, 3.8, 7.3, 7.0, 8.4, 12.3, 15.0, 20.5, 23.0, 20.2, 19.2, 14.6, 11.8, 8.9, 6.2, 6.7, 10.6, 15.6, 19.6, 20.9, 23.3, 21.6, 16.4, 13.2, 7.5, 5.8, 5.6, 7.5, 11.1, 13.1, 18.7, 19.8, 21.0, 22.6, 19.5, 14.7, 11.3, 10.0, 5.9, 6.1, 10.4, 13.2, 16.8, 18.6, 19.2, 19.8, 18.0, 16.2, 11.2, 9.7, 5.6, 5.0, 7.9, 15.2, 15.5, 20.0, 24.4, 24.3, 19.9, 13.5, 10.7, 9.5, 7.0, 2.9, 11.0, 12.1, 19.1, 18.5, 20.9, 18.8, 19.2, 13.8, 9.3, 8.2, 8.7, 9.0, 13.9, 14.2, 16.2, 23.6, 22.5, 21.1, 17.6, 15.5, 9.4, 7.6, 6.8, 8.9, 8.1, 12.3, 17.3, 19.4, 21.7, 20.8, 20.0, 14.9, 9.7, 8.0, 5.7, 7.4, 11.9, 14.2, 18.7, 22.1, 24.7, 24.2, 22.7, 17.8, 10.8, 9.3, 6.9, 7.9, 10.2, 14.3, 18.4, 22.1, 20.1, 20.3, 18.5, 14.2, 11.2, 6.9, 6.9, 10.3, 13.9, 15.0, 16.8, 21.7, 22.1, 21.7, 20.9, 15.6, 9.9, 6.8, 7.9, 7.6, 7.4, 12.7, 15.0, 20.4, 20.6, 20.0, 17.8, 15.7, 9.1, 5.0, 0.8, 2.8, 10.7, 13.6, 16.0, 20.8, 21.1, 19.8, 18.0, 14.8, 11.8, 5.4, 5.8, 7.6, 7.6, 12.8, 19.6, 19.3, 22.8, 22.3, 21.1, 13.7, 11.2, 7.1, 6.6, 5.9, 10.5, 13.4, 16.8, 19.7, 19.3, 20.8, 17.4, 16.2, 8.4, 8.4, 5.3, 9.3, 10.9, 12.2, 17.0, 21.8, 20.1, 20.6, 19.6, 14.7, 8.8, 9.3, 7.3, 9.3, 11.6, 12.5, 15.6, 20.1, 23.5, 21.5, 18.5, 15.0, 9.7, 7.2, 7.2, 5.7, 11.1, 13.7, 15.4, 20.6, 20.7, 20.2, 18.8, 16.5, 9.5, 5.4, 8.9, 4.9, 8.0, 13.6, 17.1, 20.6, 23.9, 21.8, 19.6, 18.2, 9.6, 6.1, 7.1, 7.2, 8.1, 11.4, 19.2, 23.6, 21.3, 22.3, 20.3, 15.7, 11.9, 7.0, 7.8, 8.6, 9.1, 12.2, 18.1, 17.8, 24.1, 21.3, 20.7, 17.2, 10.4, 9.3, 6.9, 7.9, 12.4, 12.9, 16.0, 17.5, 22.3, 21.8, 17.3, 15.6, 9.9, 9.4, 7.3, 8.1, 11.5, 12.5, 16.9, 21.9, 21.4, 23.7, 20.7, 13.9, 10.3, 8.6, 9.6, 9.2, 10.3, 14.0, 17.0, 20.1, 20.9, 21.5, 17.5, 11.0, 10.6, 11.0, 10.3, 9.3, 8.4, 13.3, 15.1, 21.8, 24.1, 25.9, 19.5, 14.4, 10.1, 7.6, 8.8, 7.8, 9.5, 13.7, 19.3, 25.5, 26.6, 25.1, 19.0, 14.9, 9.9, 5.6, 6.1, 9.6, 11.2, 12.2, 16.4, 17.4, 22.4, 20.3, 18.0, 16.3, 10.4, 9.2, 6.7, 6.2, 11.3, 10.7, 17.2, 19.7, 20.5, 20.7, 20.1, 17.1, 12.6, 7.8, 3.8, 4.5, 9.2, 12.7, 15.9, 19.0, 22.5, 21.0, 19.6, 16.4, 10.8, 9.2, 6.0, 9.9, 9.0, 14.0, 17.3, 19.8, 19.7, 21.9, 20.1, 14.0, 9.3, 8.9, 8.1, 7.1, 11.8, 12.9, 16.1, 18.5, 22.0, 22.8, 20.3, 12.9, 11.5, 4.4, 6.9, 8.4, 11.1, 14.3, 18.0, 21.5, 22.7, 22.2, 20.8, 14.1, 11.4, 8.2, 10.0, 5.5, 10.8, 12.4, 15.6, 20.8, 27.6, 24.5, 19.3, 15.1, 11.3, 9.2, 8.0, 7.4, 8.9, 14.6, 14.9, 21.3, 24.2, 24.4, 18.6, 15.8, 12.2, 8.7, 4.1, 6.3, 9.4, 14.0, 16.4, 18.5, 22.9, 20.3, 20.6, 16.1, 8.1, 10.0, 7.2, 1.7, 10.1, 10.9, 16.3, 21.8, 22.6, 20.0, 17.4, 16.4, 12.1, 9.7, 3.6, 7.7, 8.5, 15.8, 16.3, 18.6, 21.8, 21.8, 19.3, 15.0, 9.8, 8.9, 8.8, 8.7, 10.7, 13.5, 18.0, 19.7, 20.0, 21.8, 18.8, 15.5, 9.9, 10.4, 9.5, 10.2, 12.9, 11.5, 21.0, 22.1, 25.8, 24.2, 20.7, 17.1, 10.9, 9.4, 10.2, 11.7, 13.6, 14.6, 20.5, 19.5, 24.7, 26.0, 19.7, 16.9, 10.7, 7.6, 7.3, 5.4, 12.5, 13.1, 15.7, 17.8, 23.2, 24.1, 21.4, 14.6, 10.6, 8.3, 7.5, 9.5, 11.8, 14.0, 21.0, 22.5, 22.5, 21.7, 18.9, 12.5, 12.0, 7.8, 10.3, 7.2, 11.8, 14.6, 18.0, 21.8, 21.6, 21.6, 17.5, 13.0, 8.8, 9.2, 9.3, 7.7, 12.3, 13.3, 16.0, 21.5, 26.2, 23.0, 17.8, 15.4, 13.6, 10.7, 8.9, 10.7, 11.2, 15.0, 19.0, 20.7, 26.3, 27.0, 19.2, 18.3, 12.0, 5.8, 7.2, 6.8, 8.6, 14.3, 15.1, 22.8, 24.2, 23.1, 19.2, 16.6, 10.5, 6.2, 5.5, 10.8, 13.8, 15.6, 18.7, 20.2, 23.5, 25.8, 20.9, 15.9, 12.5, 9.5, 9.2, 11.6, 12.1, 12.7, 19.6, 19.9, 21.4, 23.5, 20.4, 14.7, 9.6, 9.7, 9.4, 8.8, 12.2, 14.9, 19.1, 20.3, 24.9, 22.8, 21.3, 15.6, 11.3, 8.7, 8.6, 10.4, 12.1, 12.9, 18.0, 21.0, 21.0, 23.2, 20.1, 14.7, 11.0, 9.0, 7.1, 9.2, 9.5, 12.8, 18.8, 20.8, 24.3, 23.5, 18.1, 17.6, 11.3, 7.3, 9.5, 11.3, 12.4, 15.7, 17.3, 20.1, 22.3, 23.3, 20.3, 15.3, 12.4, 9.0, 8.0, 8.4, 13.6, 15.7, 18.2, 23.3, 24.2, 26.4, 21.9, 14.5, 12.6, 8.8, 8.8, 8.7, 10.8, 14.9, 18.2, 22.1, 22.7, 23.8, 20.8, 15.3, 11.2, 8.8, 9.5, 7.3, 11.5, 14.6, 17.7, 22.8, 23.3, 23.2, 21.4, 17.8, 10.7, 8.2, 7.6, 7.2, 9.4, 14.1, 18.0, 23.7, 28.2, 22.2, 22.7, 17.8, 12.7, 9.7, 10.5, 9.9, 12.5, 18.9, 17.9, 21.2, 21.4, 21.5, 19.9, 15.4, 11.4, 8.9, 10.4, 11.0, 10.6, 13.7, 19.8, 20.8, 22.8, 21.5, 18.5, 15.0, 10.7, 7.3, 6.8, 7.8, 12.9, 16.1, 19.1, 22.4, 23.0, 23.9, 20.5, 16.3, 12.6, 7.0, 4.5, 6.9, 11.1, 15.8, 17.3, 23.5, 25.0, 21.6, 19.4, 15.2, 9.1, 3.9, 7.4, 10.2, 12.3, 19.7, 19.4, 20.7, 21.7, 21.8, 21.3, 18.1, 13.6, 9.9, 9.8, 8.0, 14.7, 13.3, 18.2, 19.4, 21.3, 23.5, 20.0, 14.2, 11.0, 9.0, 6.5, 6.7, 6.9, 13.5, 16.4, 20.3, 27.0, 24.3, 19.7, 17.0, 10.4, 10.2, 10.0, 10.6, 14.1, 16.1, 18.0, 22.1, 25.8, 21.7, 21.5, 17.6, 12.5, 9.2, 8.8, 8.0, 11.6, 16.3, 17.6, 22.2, 23.7, 22.2, 18.6, 15.8, 13.4, 13.7, 9.5, 9.4, 10.7, 13.5, 19.0, 20.7, 24.0, 24.7, 22.4, 15.9, 10.5, 10.2]
min=0.8, max=28.2, avg=14.0
{0.8, 1.7, 2.9, 3.8, 2.8, 5.0, 5.8, 6.2, 7.9, 8.9, 8.8, 10.8, 8.5, 10.4, 9.3, 14.2, 15.4, 14.9, 16.2, 18.1, 19.1, 20.8, 21.7, 19.6, 17.1, 22.0, 25.1, 23.9, 22.8, 23.6, 21.6, 23.0, 23.3, 24.4, 25.9, 26.6, 7.0, 7.5, 6.0, 6.5, 8.0, 9.5, 9.0, 10.0, 10.5, 11.0, 11.5, 12.5, 12.0, 13.5, 13.0, 14.0, 14.5, 15.0, 15.5, 16.4, 16.0, 16.5, 16.9, 16.1, 17.0, 17.6, 17.4, 17.5, 16.6, 18.6, 18.0, 18.5, 18.4, 18.9, 19.5, 19.9, 19.4, 19.0, 4.5, 20.5, 20.9, 20.0, 20.1, 20.4, 21.9, 21.0, 21.1, 20.6, 21.5, 22.6, 22.5, 22.1, 21.4, 22.4, 23.5, 22.9, 23.1, 3.9, 24.1, 24.5, 24.9, 24.0, 25.5, 25.0, 5.5, 26.0, 26.4, 27.6, 27.0, 4.9, 4.4, 5.9, 5.4, 6.9, 7.4, 8.4, 9.9, 9.4, 10.9, 11.9, 11.4, 12.9, 12.4, 13.9, 13.4, 14.4, 15.9, 5.3, 6.8, 6.3, 17.9, 7.3, 7.8, 8.2, 8.7, 8.3, 9.2, 9.7, 9.8, 10.2, 10.7, 10.3, 11.8, 11.3, 11.2, 11.7, 12.3, 12.7, 12.8, 12.2, 13.2, 13.8, 13.7, 13.3, 14.7, 14.3, 14.8, 15.2, 15.7, 15.8, 15.3, 16.8, 16.3, 17.2, 17.3, 17.8, 17.7, 5.7, 18.7, 18.8, 18.2, 18.3, 6.7, 19.2, 19.8, 19.3, 19.7, 7.2, 20.2, 20.3, 20.7, 7.7, 21.8, 21.3, 21.2, 22.7, 22.3, 22.2, 23.7, 23.2, 23.8, 24.3, 24.7, 24.2, 25.8, 26.2, 26.3, 28.2, 4.1, 5.6, 6.1, 6.6, 7.1, 7.6, 8.1, 8.6, 9.1, 9.6, 3.6, 10.6, 10.1, 11.1, 11.6, 12.1, 12.6, 13.1, 13.6, 14.6, 14.1, 15.6, 15.1}

# Chapter 6
Strings

*   Understanding
*   Basic operations
*   Inserting special chars and escape sequences
*   Converting from objects to strings
*   Formatting strings
*   Using the bytes type

In [ ]:
#split and join

strOne = "The boy stood on the burning deck"

#plain split
splitStr = strOne.split()
print(splitStr)

#join with underscore
print("_".join(splitStr))

#split based on letter b
print(strOne.split("b"))

#split based on b, but only the first time it finds a b
print(strOne.split("b", 1))

['The', 'boy', 'stood', 'on', 'the', 'burning', 'deck']
The_boy_stood_on_the_burning_deck
['The ', 'oy stood on the ', 'urning deck']
['The ', 'oy stood on the burning deck']

In [ ]:
#string conversions
str = '123.45'
#convert to float
print(float(str))
#convert to int
print(int(float(str))) #can't go directly to int, due to decimal in string

strInt = '1000'
#convert to Octal int
print(int(strInt, 8))
#convert to Hex int
print(int(strInt, 16))
#convert to Binary int
print(int(strInt, 2))
#base 6
print(int(strInt, 6))
#bit of math
print(1250000 * float('1.225'))

123.45
123
512
4096
8
216
1531250.0

strip, lstrip, rstrip

In [ ]:
str = "  Hello,      World.\t\t"
print(f"{str}!")
str2 = str.split()
print(str2)
print(" ".join(str2))

print(f"{str.strip()}!")
#strip left
print(f"{str.lstrip()}!")
#strip left and right
print(f"{str.lstrip().rstrip()}!")

import string
string.whitespace
print(f"{str.strip(string.whitespace)}#")

x = "www.python.org"
print(x.strip("w.org"))
print(x.removeprefix("www."))
print(x.removesuffix(".org"))
print(x.removeprefix("www.").removesuffix(".org"))

  Hello,      World.		!
['Hello,', 'World.']
Hello, World.
Hello,      World.!
Hello,      World.		!
Hello,      World.!
Hello,      World.#
python
python.org
www.python
python

In [ ]:
#string searching
str = "mississippi"
print(str.find("ss")) #return position of first instance
print(str.rfind("ss")) #search from back of string
print(str.count("ss")) #how many times something appears in string

#string replacements
print(str.replace("ss", "++"))

2
5
2
mi++i++ippi

In [ ]:
#string manipulation
text = "Hello world"
wordList = list(text)
print(wordList)
wordList[6:] = []
print(wordList)
wordList.reverse()
text += "".join(wordList)
print(text)

for i in range(len(text)):
  if i%2 == 0:
    str = text[i].upper()
    print(str, end="")
  else:
    str = text[i]
    print(str, end="")

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
['H', 'e', 'l', 'l', 'o', ' ']
Hello world olleH
HeLlO WoRlD OlLeH

## 6.6 String Formats

In [ ]:
str = "{0} is the {1} of {2}".format("Beer", "drink", "champions")
print(str)
str2 = "{item} is the {verb} of {owner}".format(item="Beer", verb="drink", owner="champions")
print(str2)

Beer is the drink of champions
Beer is the drink of champions

## 6.7 String interpolation with f-strings

In [ ]:
val = 67
topic = "some number"
print(f"{topic} is {val}")

some number is 67

## 6.8 Formatting with %

In [ ]:
val = 67
topic = "some number"
formatted = "%s is %s" % (topic, val)
print(formatted)

some number is 67

In [ ]:
#formatting sequences - ie, make a float with precision of 2 decimals
"Pi is <%-6.2f>" % 3.14159

'Pi is <3.14  >'

In [ ]:
#named params
num_dict = {'e': 2.718, 'pi': 3.14159}
print("Pi: %(pi).4f, e: %(e).2f" % num_dict) #rounds up

Pi: 3.1416, e: 2.72

In [ ]:
#bonus: controlling output with print
print("a", "b", "c", sep="|")
print("a", "b", file=open("myfile1.txt", "w"))

a|b|c

## 6.9 Bytes
Similar to strings, but with a dif... string is immutable sequence of unicode chars, bytes object is a sequence of integers with values from 0 to 256.  Generally used for dealing with binary data types and binary data files.

In [ ]:
unicode_a_with_acute = '\N{LATIN SMALL LETTER A WITH ACUTE}'
unicode_a_with_acute
xb = unicode_a_with_acute.encode()
print(xb)
print(unicode_a_with_acute)
print(xb.decode())

b'\xc3\xa1'
รก
รก

## 6.10 preproccessing text

In [ ]:
from google.colab import drive
drive.flush_and_unmount()
drive.mount('/content/drive')
import string

#define a mapping of punctuation to 'none'
punct = str.maketrans("","",string.punctuation)

temps = []
with open('/content/drive/My Drive/Colab Notebooks/moby_01.txt') as infile:
  with open("/content/drive/My Drive/Colab Notebooks/moby_02_scrubbed.txt", "w") as outfile:
    for line in infile:
      cleaned_words = "\n".join(line.lower().translate(punct).split())
      outfile.write(cleaned_words)
drive.flush_and_unmount()
print("done")

Drive not mounted, so nothing to flush and unmount.
Mounted at /content/drive
done

# Chapter 7

* Defining a dictionary
* Using dictionary operations
* Determining what can be used as a key
* Creating sparse matrices
* Using dictionaries as caches
* Trusting the efficiency of dictionaries

In [ ]:
#a quick comparison of list and dict
x_list = []
y_dict = {}
x_list.append(1)
print (x_list)
y_dict['a'] = 1
print(y_dict)
print(x_list[0])
print(y_dict['a'])

[1]
{'a': 1}
1
1

In [ ]:
peeps = {}
numpeeps = 3
for i in range(numpeeps):
  name = input("Enter name: ")
  age = input("Enter age: ")
  peeps[name] = age
search = input("Enter name to search: ")
print(f"{search} is {peeps[search]}")

Enter name: Catnip
Enter age: 16
Enter name: Shivers
Enter age: 17
Enter name: Bella
Enter age: 13
Enter name to search: Bella
Bella is 13

Other dict operations

In [ ]:
peeps = {"Catnip": 16, "Shivers": 17, "Bella": 13}
print(len(peeps)) #size of dict
print(peeps.keys()) #get the keys
print(peeps.values()) #get the values
print(peeps.items()) #get each pair

#other operations
print(peeps.get('Bella')) #retrieve value of bella - same as peeps['Bella']
print('Bella' in peeps) #return true if in the dict, else false
print('Cinder' in peeps)
del(peeps['Bella'])
print(peeps)
peeps['Cinder'] = 14
print(peeps)

3
dict_keys(['Catnip', 'Shivers', 'Bella'])
dict_values([16, 17, 13])
dict_items([('Catnip', 16), ('Shivers', 17), ('Bella', 13)])
13
True
False
{'Catnip': 16, 'Shivers': 17}
{'Catnip': 16, 'Shivers': 17, 'Cinder': 14}

In [ ]:
from google.colab import drive
drive.flush_and_unmount()
drive.mount('/content/drive')
import string

occurences = {}
with open("/content/drive/My Drive/Colab Notebooks/moby_02_scrubbed.txt", "r") as infile:
  for word in infile:
    occurences[word] = occurences.get(word, 0) + 1
drive.flush_and_unmount()
print(occurences)

Mounted at /content/drive
{'call\n': 1, 'me\n': 3, 'ishmael\n': 1, 'some\n': 2, 'years\n': 1, 'ago\n': 1, 'never\n': 1, 'mind\n': 1, 'how\n': 1, 'long\n': 1, 'preciselyhaving\n': 1, 'little\n': 1, 'or\n': 1, 'no\n': 1, 'money\n': 1, 'in\n': 4, 'my\n': 4, 'purse\n': 1, 'and\n': 6, 'nothing\n': 2, 'particularto\n': 1, 'interest\n': 1, 'on\n': 1, 'shore\n': 1, 'i\n': 7, 'thought\n': 1, 'would\n': 1, 'sail\n': 1, 'about\n': 2, 'a\n': 6, 'littleand\n': 1, 'see\n': 1, 'the\n': 13, 'watery\n': 1, 'part\n': 1, 'of\n': 7, 'world\n': 1, 'it\n': 6, 'is\n': 6, 'way\n': 1, 'haveof\n': 1, 'driving\n': 1, 'off\n': 2, 'spleen\n': 1, 'regulating\n': 1, 'circulationwhenever\n': 1, 'find\n': 1, 'myself\n': 2, 'growing\n': 1, 'grim\n': 1, 'mouthwhenever\n': 1, 'damp\n': 1, 'drizzly\n': 1, 'november\n': 1, 'soul\n': 1, 'whenever\n': 2, 'ifind\n': 1, 'involuntarily\n': 1, 'pausing\n': 1, 'before\n': 1, 'coffin\n': 1, 'warehousesand\n': 1, 'bringing\n': 1, 'up\n': 1, 'rear\n': 1, 'every\n': 1, 'funeral\n': 1, 'meetand\n': 1, 'especially\n': 1, 'hypos\n': 1, 'get\n': 2, 'such\n': 1, 'an\n': 1, 'upper\n': 1, 'hand\n': 1, 'methat\n': 1, 'requires\n': 1, 'strong\n': 1, 'moral\n': 1, 'principle\n': 1, 'to\n': 4, 'prevent\n': 1, 'fromdeliberately\n': 1, 'stepping\n': 1, 'into\n': 1, 'street\n': 1, 'methodically\n': 1, 'knockingpeoples\n': 1, 'hats\n': 1, 'then\n': 1, 'account\n': 1, 'high\n': 1, 'time\n': 1, 'seaas\n': 1, 'soon\n': 1, 'as\n': 1, 'can\n': 1, 'this\n': 1, 'substitute\n': 1, 'for\n': 1, 'pistol\n': 1, 'ballwith\n': 1, 'philosophical\n': 1, 'flourish\n': 1, 'cato\n': 1, 'throws\n': 1, 'himself\n': 1, 'upon\n': 1, 'his\n': 1, 'swordi\n': 1, 'quietly\n': 1, 'take\n': 2, 'ship\n': 1, 'there\n': 1, 'surprising\n': 1, 'thisif\n': 1, 'they\n': 1, 'but\n': 1, 'knew\n': 1, 'almost\n': 1, 'all\n': 1, 'men\n': 1, 'their\n': 1, 'degree\n': 1, 'timeor\n': 1, 'other\n': 1, 'cherish\n': 1, 'very\n': 1, 'nearly\n': 1, 'same\n': 1, 'feelings\n': 1, 'towardsthe\n': 1, 'ocean\n': 1, 'with\n': 2, 'methere\n': 1, 'now\n': 1, 'your\n': 1, 'insular\n': 1, 'city\n': 1, 'manhattoes\n': 1, 'belted\n': 1, 'round\n': 1, 'by\n': 3, 'wharvesas\n': 1, 'indian\n': 1, 'isles\n': 1, 'coral\n': 1, 'reefs\n': 1, 'commerce\n': 1, 'surrounds\n': 1, 'her\n': 1, 'surfright\n': 1, 'left\n': 1, 'streets\n': 1, 'you\n': 1, 'waterward\n': 1, 'its\n': 1, 'extreme\n': 1, 'downtownis\n': 1, 'battery\n': 1, 'where\n': 1, 'that\n': 1, 'noble\n': 1, 'mole\n': 1, 'washed\n': 1, 'waves\n': 1, 'cooledby\n': 1, 'breezes\n': 1, 'which\n': 1, 'few\n': 1, 'hours\n': 1, 'previous\n': 1, 'were\n': 1, 'out\n': 1, 'sight\n': 1, 'landlook\n': 1, 'at\n': 1, 'crowds\n': 1, 'watergazers\n': 1, 'there': 1}

## 7.5 Sparse matrices

A matrix is a 2d grid, such as

1  2  3 \
4  5  6 \
7  8  9

In [ ]:
theMatrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(theMatrix)
element = theMatrix[2][2]
print(element)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
9

A sparse matrix is a large matrix where many elements are set to zero.  To save space they are represented with dictionaries, such as

3  0  -2  11 \
0  9   0   0 \
0  7   0   0 \
0  0   0  -5

In [ ]:
matrix = [[3, 0, -2, 11],[0, 9, 0, 0],[0, 7, 0, 0],[0, 0, 0, -5]]
print(matrix)

#sparse version
sparse = {(0, 0): 3, (0, 2): -2, (0, 3): 11, (1, 1): 9, (2, 1): 7, (3, 3): -5}
i, j = 0, 0
while i < len(matrix):
  while j < len(matrix[i]):
    print(matrix[i][j])
    element = sparse.get((i, j), 0)
    print(element)
    j += 1
  j = 0
  i += 1

[[3, 0, -2, 11], [0, 9, 0, 0], [0, 7, 0, 0], [0, 0, 0, -5]]
3
3
0
0
-2
-2
11
11
0
0
9
9
0
0
0
0
0
0
7
7
0
0
0
0
0
0
0
0
0
0
-5
-5

## 7.6 Dictionaries as cache

In [ ]:
#store contents of Google sheet in dictionary
# ('sheet name', 'column', 'row')
sheet = {}
sheet[('TI', 'A', 1)] = 100
sheet[('GCP', 'A', 2)] = 200
sheet[('TI', 'B', 1)] = 300
sheet[('GCP', 'B', 2)] = 400
print(sheet)
print(sheet[('TI', 'A', 1)] * sheet[('GCP', 'B', 2)])

{('TI', 'A', 1): 100, ('GCP', 'A', 2): 200, ('TI', 'B', 1): 300, ('GCP', 'B', 2): 400}
40000

# Chapter 8

Control flow:

* if-elif-else
* pattern matching
* while
* for
* list and dictionary comprehensions
* statements and blocks
* boolean values and expressions

In [9]:
#general if format
statement = "first"
statement2 = "second"
statement3 = "third"
test = int(input("a number: "))

if test < 2:
  print(statement)
elif test < 3:
  print(statement2)
else:
  print(statement3)

a number: 3
third

__Structural Pattern Matching__ \
Similar but more powerful that case/switch statements in other languages.  Can match based on equality as well as types

In [7]:
x = 5
match x:
  case "A":
    print("A")
  case str():
    print("some other string")
  case 0:
    print("Zero")
  case 1 | 2 | 3:
    print(f"value {x} in range")
  case int():
    print(f"The integer {x}")
  case _:
    print("Neither string nor int")

The integer 5

__Looping__

*While Loops* \
while (condition): \
..body \
else: \
..post-code \

*For Loops* \
for <item> in <sequence>: \
..body \
else: \
..post code

In [11]:
#while loop
response = ""
while response != "Q":
  response = input("Q to quit, B to break")
  if response == "B":
    break
else:
  print("no break")

x = [1, 2, 3]
for n in x:
  if n == 1:
    print('1')
  elif n == 2:
    print('2')
  elif n == 3:
    print('3')
  else:
    print('other')

Q to quit, B to breakB
1
2
3