<a href="https://colab.research.google.com/github/hollowmatt/PyColab/blob/main/QPB4E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About this Colab
This is from the Quick Python Book from Manning Press [QPB4E](https://livebook.manning.com/book/the-quick-python-book-fourth-edition).

The GitHub repository for the book is at [GitHub/qpb4e](https://github.com/nceder/qpb4e)

# Chapter 2

In [ ]:
print("hello world!")

hello world!

In [ ]:
# Setup files needed
!wget https://raw.githubusercontent.com/nceder/qpb4e/main/code/Chapter%2003/shape.py  &> null  && echo Downloaded
!wget https://raw.githubusercontent.com/nceder/qpb4e/main/code/Chapter%2003/wo.py &> null  && echo Downloaded

!touch empty_file
! echo "This is myfile1.txt" > myfile1.txt
! echo "This is myfile2.txt" > myfile2.txt

Downloaded
Downloaded

# Chapter 3
Quick Python overview

## 3.2.7 File objects

In [ ]:
#Open a file for writing
f = open("myfile1.txt", "w")
f.write("First line in the new file\n")
f.write("Now add a second line\n")
f.close()

#Now open file and read it
f = open("myfile", "r")
for i in f.readlines():
  print(i)
f.close()

#Directory and stuff
import os
dir = os.getcwd()
print(dir)

file = os.path.join(dir, "myfile")
print(file)

f = open(file, "r")
print(f.readline())
f.close()

First line in the new file

Now add a second line

/content
/content/myfile
First line in the new file

## 3.4 Control Structures

In [ ]:
# if-elif-else
x = 5
if x < 5:
  y = -1
  z = 5
elif x > 5:
  y = 1
  z = 11
else:
  y = 0
  z = 10
print(x, y, z)

5 0 10

The 'match' statement in Python is similar to the switch statement in Java

In [ ]:
#Match statement
point = (5, 7)

match point:
  case(0,0):
    print('origin')
  case(0,y):
    print(f"Y={y}")
  case(x,0):
    print(f"X={x}")
  case(x,y):
    print(f"X={x}, Y={y}")
  case _:
    raise ValueError("Not a point")

X=5, Y=7

In [ ]:
#while loop
u, v, x, y = 0, 0, 100, 30

while x > y:
  u = u + y
  x = x - y
  if x < y + 2:
    v = v + x
    x = 0
  else:
    v = v + y + 2
    x = x - y - 2
  print(f"{u=} {v=}")
print(u, v)

u=30 v=32
u=60 v=40
60 40

In [ ]:
#for loop
item_list = [3, "string", 23, 14.0, "string2", 49, 64, 70]
for x in item_list:
  if not isinstance(x, int):
    continue
  if not x % 7:
    print(f"found an integer divisible by seven: {x}")
    break

found an integer divisible by seven: 49

In [ ]:
#functions
def func(x, y, z):
  value = x +2*y + z**2
  if value > 0:
    return x + 2*y + z**2
  else:
    return 0

u, v = 3, 4
print(func(u, v, 2))

# **args gathers any spare arguments into a dictionary
def newfunc(x, y=1, z=1, **args):
  print (x, y, z, args)

newfunc(1, 2, m=5, n=9, z=3)

15
1 2 3 {'m': 5, 'n': 9}

In [ ]:
#Exceptions (try-except-else-finally)
class EmptyFileError(Exception):
  pass

file_names = ["myfile1.txt", "non_existant", "empty_file", "myfile2.txt"]
for file_name in file_names:
  try:
    file = open(file_name, 'r')
    line = file.readline()
    if line == "":
      file.close()
      raise EmptyFileError(f"{file_name}: is empty")
  except IOError as error:
    print(f"{file_name}: could not be opened: {error.strerror}")
  except EmptyFileError as error:
    print(error)
  else:
    print(f"{file_name}: {line}")
  finally:
    print("Done processing", file_name)

myfile1.txt: This is myfile1.txt

Done processing myfile1.txt
non_existant: could not be opened: No such file or directory
Done processing non_existant
empty_file: is empty
Done processing empty_file
myfile2.txt: This is myfile2.txt

Done processing myfile2.txt

In [ ]:
# With keyword
file = "myfile1.txt"
with open(file, 'r') as f:
  for line in f:
    print(line)

This is myfile1.txt

## 3.5 Modules

In [ ]:
#Module example
"""wo module. Contains function: words_occur()"""
def words_occur():
  """words_occur() - count occurances of words in a file."""
  #prompt for file
  file_name = input("Enter the name of a file to use")
  file = open(file_name, 'r')
  word_list = file.read().split()
  file.close()
  occurs_dict = {}
  for word in word_list:
    occurs_dict[word] = occurs_dict.get(word, 0) + 1
  print(f"File {file_name} has {len(word_list)} words ({len(occurs_dict)} are unique)")
  print(occurs_dict)
if __name__ == '__main__':
  words_occur()

Enter the name of a file to usemyfile1.txt
File myfile1.txt has 11 words (10 are unique)
{'First': 1, 'line': 2, 'in': 1, 'the': 1, 'new': 1, 'file': 1, 'Now': 1, 'add': 1, 'a': 1, 'second': 1}

# Chapter 4



*   Indenting & block structure
*   Differentiating comments
*   Assigning variables
*   Optional type hints
*   Evaluating expressions
*   Using common data types
*   Getting user input
*   Using correct Phythonic style

In [12]:
n = 4
r = 1
while n > 0:
    r = r * n
    n = n - 1

print(f"{r}")

24

In [33]:
x, y = 0x12E, 0b1111
z = (x + y)//2
a = (x+y)%2
print(abs(z), a)
print(divmod(x, y))
print(round(x/y))

158 1
(20, 2)
20

In [47]:
from cmath import *
sqrt((1+2j) * (3+4j))
name = input("Name? ")
print(name)

Name? Catnip
Catnip

# Chapter 5
Lists, tuples, and sets.

A list in python is similar to an array in C or Java


```
x = [1, 2, 3]
```

## 5.1 - 5.6: Lists

In [3]:
x = [0]
y = []
z = [[1, 3, [4, 5],6],7]
print(len(x), len(y), len(z))
print(len(z[0]))
print(len(z[0][2]))

1 0 2
4
2

positions are zero indexed, but you can also start at the 'end' of the list using -1.

You can also extract with slices

```
x[1:-1] #second until up to last element (not including last)
x[0:3] #first three elements -> goes upto but not including the second index
x[:3] #begining up to (but not including) fourth element
x[3:] #begining from fourth element to the end (includes last element)
```

In [7]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(x[0]) #0
print(x[-1]) #9
print(x[1:-1])
print(x[1:4])
print(x[:3])
print(x[3:])

0
9
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3]
[0, 1, 2]
[3, 4, 5, 6, 7, 8, 9]

In [10]:
#modifying
x = [0, 1, 2, 3]
x[2] = 'two'
print(x)

[0, 1, 'two', 3]

You can also modify lists using slices using similar : notation

In [13]:
x = [0, 1, 2, 3]
x[len(x):] = [4, 5, 6]
print(x)
x[:0] = [-2, -1] #put at beginning
print(x)

[0, 1, 2, 3, 4, 5, 6]
[-2, -1, 0, 1, 2, 3, 4, 5, 6]

append and extend are two ways to add to lists

In [23]:
x = [0, 1, 2]
y = [3, 4, 5]
x.append(y) #add entire list y as a single element to x
print(x)
x = [0, 1, 2]
y = [3, 4, 5]
x.extend(y) #extends x with the list from y
print(x)
x.insert(0, 'start') #insert an element prior to the given index
print(x)
del x[0] #remove element from given index
print(x)
x.remove(3) #remove first element that matches the literal input (3), not by index
print(x)
x.reverse() #reverse list in place
print(x)

[0, 1, 2, [3, 4, 5]]
[0, 1, 2, 3, 4, 5]
['start', 0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 4, 5]
[5, 4, 2, 1, 0]

In [42]:
# move last 3 elements to front
x = [3, 4, 5, 0, 1, 2]
print(x)
x = x[3:] + x[:3]
print(x)

[3, 4, 5, 0, 1, 2]
[0, 1, 2, 3, 4, 5]

Sorting lists

In [43]:
x = [0, 8, 2, 3, 6, 4, 7, 5, 1]
x.sort()
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
# Define a sorting method
def comp_num_chars(string1):
  return len(string1)
word_list = ["python", "is", "better", "than", "perl"]
word_list.sort()
print(word_list)
word_list = ["python", "is", "better", "than", "perl"]
#use sort method as the key to sort
word_list.sort(key=comp_num_chars)
print(word_list)

['better', 'is', 'perl', 'python', 'than']
['is', 'than', 'perl', 'python', 'better']

In [47]:
# Use a lambda function instead
word_list = ["python", "is", "better", "than", "perl"]
word_list.sort(key=lambda x: len(x))
print(word_list)

['is', 'than', 'perl', 'python', 'better']

In [50]:
x = [4, 2, 1, 3]
y = sorted(x)
z = sorted(x, reverse=True)
print(x, y, z)

[4, 2, 1, 3] [1, 2, 3, 4] [4, 3, 2, 1]

In [55]:
# sort on second element
x = [[1, 2, 3], [2, 1, 3], [0, 3, 1],[3, 0, 2]]
x.sort(key=lambda x: x[1])
print(x)
y = sum(x[0])
print(y)

[[3, 0, 2], [2, 1, 3], [1, 2, 3], [0, 3, 1]]
5

Searching

In [53]:
x = [1, 3, "five", 7, -2]
x.index("five")

2

Nested lists and deep/shallow copies

In [6]:
nested = [[0, 1, 2], [10, 11, 12], [20, 21, 22]]
original = [nested, 1]
print(original)
nested[0] = 'zero'
print(original)
original[0][0] = [0, 2, 1]
print(original)

[[[0, 1, 2], [10, 11, 12], [20, 21, 22]], 1]
[['zero', [10, 11, 12], [20, 21, 22]], 1]
[[[0, 2, 1], [10, 11, 12], [20, 21, 22]], 1]

## 5.7 Tuples
Similar to lists, but immutable.  Can be used as keys for dictionaries

In [1]:
from re import X
x = ('a', 'b', 'c')
print(x[2])
print(x[1:])
print(len(x))
print(min(x))
print(max(x))
print(5 in x)
y = x + x
print(y)
(one, two, three, four) = (1, 2, 3, 4)
print(one)
z = list(x)
z[2] = 'd'
print(z)

c
('b', 'c')
3
a
c
False
('a', 'b', 'c', 'a', 'b', 'c')
1
['a', 'b', 'd']

## 5.8 Sets
unordered collection of unique objects that must be immutable and hashable

ints, floats, strings, tuples can be members of a set, but lists, dictionaries, and sets themselves cannot

In [2]:
x = set([1, 1, 2, 2, 3, 4, 5])
print(x)
x.add(6)
x.remove(5)
print(5 in x)
print(x)
y = set([1, 7, 8, 9, 2])
print(x | y)
print(x & y)
print(x ^ y)
z = frozenset(x)
y.add(z)
print(y)

{1, 2, 3, 4, 5}
False
{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6, 7, 8, 9}
{1, 2}
{3, 4, 6, 7, 8, 9}
{1, 2, 7, 8, 9, frozenset({1, 2, 3, 4, 6})}

# Chapter 6
Strings

*   Understanding
*   Basic operations
*   Inserting special chars and escape sequences
*   Converting from objects to strings
*   Formatting strings
*   Using the bytes type